{% extends "layout.html" %}

{% block content %}
<h2>Add a Grade</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.subject.label }} {{ form.subject(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.grade.label }} {{ form.grade(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.date.label }} {{ form.date(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
